/* Colors */
:root {
	--yablack: #000000;
	--yawhite: #ffffff;
	
	--yasuccess: #0062c5;
	--yaerror: #c50000;
	
	--p-ddarkblue: #142032;
	--p-darkblue: #012652;
	--p-blue: #0062c5;
	--p-lightblue: #007edb;
	--p-llightblue: #557e9c;
	
	--p-ddarkgray: #3c3947;
	--p-darkdray: #4b4b4b;
	--p-gray: #666666;
	--p-lightgray: #818181;
	--p-llightgray: #919191;
	
	--p-ddarkwhite: #b4b4b4;
	--p-darkwhite: #b4b2bd;
	--p-white: #cdcdcd;
	--p-lightwhite: #ececee;
	--p-llightwhite: #f1f3f2;
}

.bg-yablack {background-color: var(--yablack);}
.bg-yawhite {background-color: var(--yawhite);}
.bg-yasuccess {background-color: var(--yasuccess);}
.bg-yaerror {background-color: var(--yaerror);}
.bg-p-ddarkblue {background-color: var(--p-ddarkblue);}
.bg-p-darkblue {background-color: var(--p-darkblue);}
.bg-p-blue {background-color: var(--p-blue);}
.bg-p-lightblue {background-color: var(--p-lightblue);}
.bg-p-llightblue {background-color: var(--p-llightblue);}
.bg-p-ddarkgray {background-color: var(--p-ddarkgray);}
.bg-p-darkdray {background-color: var(--p-darkdray);}
.bg-p-gray {background-color: var(--p-gray);}
.bg-p-lightgray {background-color: var(--p-lightgray);}
.bg-p-llightgray {background-color: var(--p-llightgray);}
.bg-p-ddarkwhite {background-color: var(--p-ddarkwhite);}
.bg-p-darkwhite {background-color: var(--p-darkwhite);}
.bg-p-white {background-color: var(--p-white);}
.bg-p-lightwhite {background-color: var(--p-lightwhite);}
.bg-p-llightwhite {background-color: var(--p-llightwhite);}

.bgh-yablack:hover {background-color: var(--yablack);}
.bgh-yawhite:hover {background-color: var(--yawhite);}
.bgh-yasuccess:hover {background-color: var(--yasuccess);}
.bgh-yaerror:hover {background-color: var(--yaerror);}
.bgh-p-ddarkblue:hover {background-color: var(--p-ddarkblue);}
.bgh-p-darkblue:hover {background-color: var(--p-darkblue);}
.bgh-p-blue:hover {background-color: var(--p-blue);}
.bgh-p-lightblue:hover {background-color: var(--p-lightblue);}
.bgh-p-llightblue:hover {background-color: var(--p-llightblue);}
.bgh-p-ddarkgray:hover {background-color: var(--p-ddarkgray);}
.bgh-p-darkdray:hover {background-color: var(--p-darkdray);}
.bgh-p-gray:hover {background-color: var(--p-gray);}
.bgh-p-lightgray:hover {background-color: var(--p-lightgray);}
.bgh-p-llightgray:hover {background-color: var(--p-llightgray);}
.bgh-p-ddarkwhite:hover {background-color: var(--p-ddarkwhite);}
.bgh-p-darkwhite:hover {background-color: var(--p-darkwhite);}
.bgh-p-white:hover {background-color: var(--p-white);}
.bgh-p-lightwhite:hover {background-color: var(--p-lightwhite);}
.bgh-p-llightwhite:hover {background-color: var(--p-llightwhite);}

.c-yablack {color: var(--yablack);}
.c-yasuccess {color: var(--yasuccess);}
.c-yaerror {color: var(--yaerror);}
.c-yawhite {color: var(--yawhite);}
.c-p-ddarkblue {color: var(--p-ddarkblue);}
.c-p-darkblue {color: var(--p-darkblue);}
.c-p-blue {color: var(--p-blue);}
.c-p-lightblue {color: var(--p-lightblue);}
.c-p-llightblue {color: var(--p-llightblue);}
.c-p-ddarkgray {color: var(--p-ddarkgray);}
.c-p-darkdray {color: var(--p-darkdray);}
.c-p-gray {color: var(--p-gray);}
.c-p-lightgray {color: var(--p-lightgray);}
.c-p-llightgray {color: var(--p-llightgray);}
.c-p-ddarkwhite {color: var(--p-ddarkwhite);}
.c-p-darkwhite {color: var(--p-darkwhite);}
.c-p-white {color: var(--p-white);}
.c-p-lightwhite {color: var(--p-lightwhite);}
.c-p-llightwhite {color: var(--p-llightwhite);}

.b-yablack {border-color: var(--yablack) !important;}
.b-yasuccess {border-color: var(--yasuccess) !important;}
.b-yaerror {border-color: var(--yaerror) !important;}
.b-yawhite {border-color: var(--yawhite) !important;}
.b-p-ddarkblue {border-color: var(--p-ddarkblue) !important;}
.b-p-darkblue {border-color: var(--p-darkblue) !important;}
.b-p-blue {border-color: var(--p-blue) !important;}
.b-p-lightblue {border-color: var(--p-lightblue) !important;}
.b-p-llightblue {border-color: var(--p-llightblue) !important;}
.b-p-ddarkgray {border-color: var(--p-ddarkgray) !important;}
.b-p-darkdray {border-color: var(--p-darkdray) !important;}
.b-p-gray {border-color: var(--p-gray) !important;}
.b-p-lightgray {border-color: var(--p-lightgray) !important;}
.b-p-llightgray {border-color: var(--p-llightgray) !important;}
.b-p-ddarkwhite {border-color: var(--p-ddarkwhite) !important;}
.b-p-darkwhite {border-color: var(--p-darkwhite) !important;}
.b-p-white {border-color: var(--p-white) !important;}
.b-p-lightwhite {border-color: var(--p-lightwhite) !important;}
.b-p-llightwhite {border-color: var(--p-llightwhite) !important;}


body {
	font-family: 'Peugeot'; font-weight: normal; font-style: normal;
	overflow: auto;
	color: var(--p-ddarkblue);
	font-size: 15px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Peugeot'; font-weight: bold; font-style: normal;
}
a, a:focus, a:active, a:visited {
	color: var(--p-blue);
	transition: .2s;
}
a:hover {
	color: var(--p-lightblue);
	transition: .2s;
}

a.black, a.black:active, a.black:focus, a.black:visited {
	color: var(--p-ddarkblue);
}
a.black:hover {
	color: var(--p-darkblue);
	text-decoration: none;
}

.alert {
	display: none;
}

.but {
	height: 50px;
	padding: 14px 16px;
	border-bottom: 3px solid;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}
.but:hover {
	text-decoration: none;
}
.but-blue, .but-blue:active, .but-blue:focus, .but-blue:visited {
	color: var(--yawhite) !important;
	background-color: var(--p-lightblue);
	border-bottom-color: var(--p-blue);
	transition: .3s;
}
.but-blue:hover {
	color: var(--yawhite) !important;
	background-color: var(--p-blue);
	border-bottom-color: var(--p-darkblue);
	transition: .3s;
}
.but-white, .but-white:active, .but-white:focus, .but-white:visited {
	color: var(--p-ddarkblue) !important;
	background-color: var(--yawhite);
	border: none;
	transition: .3s;
}
.but-white:hover {
	color: var(--yawhite) !important;
	background-color: var(--p-blue);
	transition: .3s;
}



a.toggle-disclamer {
	width: 32px;
	height: 32px;
	right: 0px;
	z-index: 5;
}
a.toggle-disclamer svg {
	width: 24px;
	height: 24px;
	fill: var(--yawhite);
}
.disclamer {
	font-size: 12px;
	font-style:italic;
}
.disclamer.showed {
	display: none;
}
svg {
	fill: var(p-ddarkblue);
	width: 18px;
	height: 18px;
}

nav {
	z-index: 250;
    position: relative;
}
nav a, nav a:active, nav a:focus, nav a:visited {
	color: var(--yawhite);
	transition: .3s;
}
nav a:hover {
	color: var(--p-blue);
	transition: .3s;
}
nav ul, nav .phone {
	font-family: 'Peugeot'; font-weight: normal; font-style: normal;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
}
nav ul li {
	border-bottom: var(--p-ddarkblue) 2px solid;
	transition: .3s;
}
nav ul li:hover {
	border-bottom: var(--p-blue) 2px solid;
	transition: .3s;
}
nav ul li:hover a {
	color: var(--p-blue);
	transition: .3s;
}
nav ul li a:hover {
	text-decoration: none;
}
nav svg {
	fill: var(--yawhite);
	width: 120px;
    height: 36px;
}
nav .address {
	font-size: 10px;
}
.breadcrumbs svg {
	fill: var(--yawhite);
	width: 24px;
    height: 24px;
}
.nav-cover {
	width: 100%;
    height: calc(100vh - 103px);
    position: absolute;
    top: 103px;
	z-index: 200;
	background-color: rgba(255, 255, 255, .8);
	display: none;
}
.nav-section {
	position: absolute;
	z-index: 230;
	font-size: 13px;
	display: none;
}
.nav-section .h2 {
	font-weight: normal;
	text-transform: uppercase;
	color: var(--p-blue);
}
.nav-section ul li svg {
	fill: var(--p-blue);
	width: 18px;
	height: 18px;
	position: absolute;
    left: -10px;
}

.nav-section a, .nav-section a:active, .nav-section a:focus, .nav-section a:visited {
	color: var(--p-ddarkblue);
	text-decoration: none;
	transition: .2s;
}
.nav-section a:hover {
	color: var(--p-blue);
	text-decoration: none;
	transition: .2s;
}
.nav-section-title {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	min-height: 50px;
}
.nav-section-title.link {
	padding-left: 20px;
}
.nav-section-title svg {
	fill: var(--p-blue);
	width: 20px;
	height: 20px;
	position: absolute;
    left: -10px;
}
.close-section {
	display: inline-block;
    position: absolute;
    text-align: center;
    border-top: 10px solid var(--p-lightwhite);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    height: 0;
    width: 100px;
    left: 50%;
    margin-left: -50px;
}
.close-section svg {
	width: 12px;
	height: 12px;
	position: absolute;
    top: -18px;
    left: 25px;
}

.nav-section-m {
	z-index: 15;
	height: calc(100% - 103px);
	display: none;
}
.nav-section-m a, .nav-section-m a:focus, .nav-section-m a:active, .nav-section-m a:visited, .nav-section-m a:hover {
	color: var(--p-ddarkblue);
	text-decoration: none;
}
.nav-section-m svg {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	right: 0;
	fill: var(--p-ddarkblue);
	width: 36px;
	height: 36px;
}
.nav-section-m .sub-level {
	z-index: 20;
	top: 0;
	display: block;
	left: calc(100vw + 15px);
	transition: .5s;
}
.nav-section-m .sub-level.active {
	top: 0;
	display: block;
	left: 15px;
	transition: .5s;
}
.nav-section-m .sub-title {
}
.nav-section-m .sub-title svg {
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 0;
	fill: var(--yawhite);
	width: 36px;
	height: 36px;
}
.nav-section-m .sub-item {
}






.banner-a {
	position: absolute;
	bottom: 50px;
	right: 50px;
}

.main-dealer {
}
.main-dealer svg {
	fill: var(--p-ddarkblue);
	width: 120px;
    height: 36px
}


.model-tabs {
}
.model-tabs [role="model-tab"] {
	cursor: pointer;
}
.model-tabs [role="model-tab"] .title {
	z-index: 5;
	background: rgba(18,70,130,.8);
	transition: .2s;
}
.model-tabs [role="model-tab"] svg {
	fill: var(--yawhite);
	width: 36px;
	height: 36px;
	position: absolute;
	top: 50%;
	margin-top: -18px;
	left: 50%;
	margin-left: -18px;
	z-index: 3;
}
.model-tabs .active[role="model-tab"] .title {
	z-index: 5;
	background: rgba(0,126,219,.8);
	transition: .2s;
}
.model-tabs [role="model-tab"] .image {
}
.model-tabs [role="model-tab"] .cover {
	z-index: 2;
	background: rgba(18,70,130,.8);
	display: none;
	transition: .2s;
	top: 0;
	width: 100%;
	height: 100%;
}
.model-tabs [role="model-tab"]:hover .cover {
	display: block;
	transition: .2s;
}
.model-tabs .active[role="model-tab"] .cover {
	background: rgba(0,126,219,.8);
	transition: .2s;
}

[role="model-tab-content"] {
	display: none;
}




footer {
}
footer ul {
	font-weight: 100;
}
footer ul.multicolumn {
	-moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
    -moz-column-gap: 15px;
    -webkit-column-gap: 15px;
    column-gap: 15px;
    -moz-column-width: auto;
    -webkit-column-width: auto;
    column-width: auto;
    -moz-column-rule: medium none;
    -webkit-column-rule: medium none;
    column-rule: medium none;
}
footer ul li a, footer ul li a:focus, footer ul li a:active, footer ul li a:visited,
footer .phone a, footer .phone a:focus, footer .phone a:active, footer .phone a:visited {
	color: var(--p-ddarkblue);
	text-decoration: none;
	transition: .2s;
}
footer ul li a:hover, footer .phone a:hover {
	color: var(--p-blue);
	text-decoration: none;
	transition: .2s;
}
footer .phone a {
	font-size: 27px;
}
footer .social a, footer .social a:active, footer .social a:focus, footer .social a:visited {
	padding: 20px;
    background-color: var(--yawhite);
    color: var(--yawhite);
    width: 75px;
    height: 75px;
    text-decoration: none;
    transition: .2s;
    display: inline-block;
}
footer .social a:hover {
	background-color: var(--p-blue);
	color: var(--p-blue);
	text-decoration: none;
	transition: .2s;
}
footer .social a svg {
	width: 35px;
	height: 35px;
	fill: var(--p-ddarkblue);
	transition: .2s;
}
footer .social a:hover svg {
	fill: var(--yawhite);
	transition: .2s;
}





.rules {
	cursor: pointer;
}
.rules svg {
	fill: var(--p-ddarkblue);
    width: 14px;
    height: 14px;
    margin-bottom: 5px;
    margin-right: 5px;
}
.rules.c-yaerror svg {
	fill: var(--yaerror);
}







.form-cover {
	position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,.8);
    top: 0;
	display: none;
}
.form-control:focus {
  color: var(--p-ddarkblue);;
  background-color: var(--yawhite);
  border-color: var(--p-blue);
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(0, 140, 186, 0.25);
}
.form-control.is-invalid {
    border-color: var(--yaerror);
}

.remodal-overlay {
    background: rgba(255, 255, 255, 0.8);
}
.remodal-close, .remodal-close:before {
    left: unset;
    right: 0;
}

.infos {
	position: absolute;
    top: 40%;
	left: 50%;
    right: 2.5rem;
    /*-ms-transform: translateY(-50%);
    transform: translateY(-50%); */
	transform: translate(50%, -50%);
    background-color: rgba(20,32,50,.5);
    width: 21.25rem;
    max-height: 100%;
    overflow-y: auto;
}

.panel { 
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: #333;
}
.panel p{
	color: #fff;
}
@media only screen and (max-width: 1366px) {
.infos {
    position: static;
    width: 100%;
    -ms-transform: none;
    transform: none;
    background: #ececee;
    margin-bottom: 0;
	
}
}

@media only screen and (max-width: 1366px) {
.infos p {
    color: #3c353f;
}
}
img.title-img {
    width: 100%;
    clear: both;
    margin-bottom: 30px;
    border: none;
}
.darkblue-col {
    background: #072551;
    padding: 30px;
    color: #ccc;
}
.darkblue-col ul {
    padding: 0 0 0 15px;
    text-align: left;
}
.darkblue-col ul li {
    margin: 20px 0;
    line-height: 1.2em;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.card {
	    height: 100%;
}
.cars-main-preview {
	margin-top: -90px;
}