@media (min-width: 1290px) {
.container {
    max-width: 1280px;
}
}

@media (max-width: 768px) {
.pc {display: none;}
.swiper-container {
	height: auto;
}
.swiper-pagination {
    bottom: -25px;
    left: 50%;
    margin-left: -40px;
}
.swiper-pagination-bullet {
    margin: 0 4px;
	border-radius: unset;
        background: unset;
    opacity: unset;
    border: 1px var(--p-blue) solid;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: var(--p-blue);
}
.banner-a {right: unset;}
.main-dealer { text-align: center;}
nav svg {
	fill: var(--yawhite);
	width: 48px;
    height: 48px;
}

}
@media (min-width: 769px) {
.mob {display: none;}
}




@media only screen and (min-width: 641px) {
.remodal {
    max-width: 940px;
}
}