@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot-BoldItalic.eot');
    src: url('Peugeot-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Peugeot-BoldItalic.woff2') format('woff2'),
        url('Peugeot-BoldItalic.woff') format('woff'),
        url('Peugeot-BoldItalic.ttf') format('truetype'),
        url('Peugeot-BoldItalic.svg#Peugeot-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot-Bold.eot');
    src: url('Peugeot-Bold.eot?#iefix') format('embedded-opentype'),
        url('Peugeot-Bold.woff2') format('woff2'),
        url('Peugeot-Bold.woff') format('woff'),
        url('Peugeot-Bold.ttf') format('truetype'),
        url('Peugeot-Bold.svg#Peugeot-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot.eot');
    src: url('Peugeot.eot?#iefix') format('embedded-opentype'),
        url('Peugeot.woff2') format('woff2'),
        url('Peugeot.woff') format('woff'),
        url('Peugeot.ttf') format('truetype'),
        url('Peugeot.svg#Peugeot') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot-Light.eot');
    src: url('Peugeot-Light.eot?#iefix') format('embedded-opentype'),
        url('Peugeot-Light.woff2') format('woff2'),
        url('Peugeot-Light.woff') format('woff'),
        url('Peugeot-Light.ttf') format('truetype'),
        url('Peugeot-Light.svg#Peugeot-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Expanded';
    src: url('PeugeotExpanded-Bold.eot');
    src: url('PeugeotExpanded-Bold.eot?#iefix') format('embedded-opentype'),
        url('PeugeotExpanded-Bold.woff2') format('woff2'),
        url('PeugeotExpanded-Bold.woff') format('woff'),
        url('PeugeotExpanded-Bold.ttf') format('truetype'),
        url('PeugeotExpanded-Bold.svg#PeugeotExpanded-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Expanded';
    src: url('PeugeotExpanded-Light.eot');
    src: url('PeugeotExpanded-Light.eot?#iefix') format('embedded-opentype'),
        url('PeugeotExpanded-Light.woff2') format('woff2'),
        url('PeugeotExpanded-Light.woff') format('woff'),
        url('PeugeotExpanded-Light.ttf') format('truetype'),
        url('PeugeotExpanded-Light.svg#PeugeotExpanded-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Expanded';
    src: url('PeugeotExpanded-Medium.eot');
    src: url('PeugeotExpanded-Medium.eot?#iefix') format('embedded-opentype'),
        url('PeugeotExpanded-Medium.woff2') format('woff2'),
        url('PeugeotExpanded-Medium.woff') format('woff'),
        url('PeugeotExpanded-Medium.ttf') format('truetype'),
        url('PeugeotExpanded-Medium.svg#PeugeotExpanded-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Double Zero';
    src: url('PeugeotDoubleZero.eot');
    src: url('PeugeotDoubleZero.eot?#iefix') format('embedded-opentype'),
        url('PeugeotDoubleZero.woff2') format('woff2'),
        url('PeugeotDoubleZero.woff') format('woff'),
        url('PeugeotDoubleZero.ttf') format('truetype'),
        url('PeugeotDoubleZero.svg#PeugeotDoubleZero') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Expanded';
    src: url('PeugeotExpanded-ExtraLight.eot');
    src: url('PeugeotExpanded-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('PeugeotExpanded-ExtraLight.woff2') format('woff2'),
        url('PeugeotExpanded-ExtraLight.woff') format('woff'),
        url('PeugeotExpanded-ExtraLight.ttf') format('truetype'),
        url('PeugeotExpanded-ExtraLight.svg#PeugeotExpanded-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot-Italic.eot');
    src: url('Peugeot-Italic.eot?#iefix') format('embedded-opentype'),
        url('Peugeot-Italic.woff2') format('woff2'),
        url('Peugeot-Italic.woff') format('woff'),
        url('Peugeot-Italic.ttf') format('truetype'),
        url('Peugeot-Italic.svg#Peugeot-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Peugeot';
    src: url('Peugeot-LightItalic.eot');
    src: url('Peugeot-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Peugeot-LightItalic.woff2') format('woff2'),
        url('Peugeot-LightItalic.woff') format('woff'),
        url('Peugeot-LightItalic.ttf') format('truetype'),
        url('Peugeot-LightItalic.svg#Peugeot-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Peugeot Expanded';
    src: url('PeugeotExpanded.eot');
    src: url('PeugeotExpanded.eot?#iefix') format('embedded-opentype'),
        url('PeugeotExpanded.woff2') format('woff2'),
        url('PeugeotExpanded.woff') format('woff'),
        url('PeugeotExpanded.ttf') format('truetype'),
        url('PeugeotExpanded.svg#PeugeotExpanded') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Peugeot Style';
    src: url('PeugeotStyle.eot');
    src: url('PeugeotStyle.eot?#iefix') format('embedded-opentype'),
        url('PeugeotStyle.woff2') format('woff2'),
        url('PeugeotStyle.woff') format('woff'),
        url('PeugeotStyle.ttf') format('truetype'),
        url('PeugeotStyle.svg#PeugeotStyle') format('svg');
    font-weight: normal;
    font-style: normal;
}

